<app-page>
    <app-latest-posts></app-latest-posts>
    <app-latest-posts-by-section sectionTitle="Exemplo" class="posts-by-section" [imageObject]=mocks></app-latest-posts-by-section>
    <app-latest-posts-by-section sectionTitle="Exemplo" class="posts-by-section" [imageObject]=mocks></app-latest-posts-by-section>
    <app-latest-posts-by-section sectionTitle="Exemplo" class="posts-by-section" [imageObject]=mocks></app-latest-posts-by-section>
    <app-latest-posts-by-section sectionTitle="Exemplo" class="posts-by-section" [imageObject]=mocks></app-latest-posts-by-section>
    <app-latest-posts-by-section sectionTitle="Exemplo" class="posts-by-section" [imageObject]=mocks></app-latest-posts-by-section>
</app-page>