<header class="container">
  <div class="container-logo">
    <img src="../../../../assets/Projetinho.svg">
  </div>
  <div class="container-list">
    <nav>
      <ul class="list">
        <li class="companymenuli"><a class="alisting">Ondas Feministas<b class="caret"></b></a>
          <ul class="submenu">
              <li>1ª Onda</li>
              <li>2ª Onda</li>
              <li>3ª Onda</li>
              <li>4ª Onda</li>
          </ul>
        </li>
        <li class="companymenuli"><a class="alisting">Vertentes e Epistemologias<b class="caret"></b></a>
          <ul class="submenu">
              <li>Feminismo Liberal</li>
              <li>Feminismo Radical</li>
              <li>Feminismo Negro</li>
              <li>Feminismo Latino-Americano</li>
              <li>Feminismo Marxista</li>
              <li>Feminismo Pós-Moderno</li>
              <li>Feminismo Culturalista</li>
              <li>Feminismo Indígena</li>
              <li>Feminismo Indiano</li>
              <li>Feminismo Asiático</li>
              <li>Anarcofeminismo</li>
              <li>Ecofeminismo</li>
              <li>Pró-feminismo cristão</li>
              <li>Pró-feminismo muçulmano</li>
              <li>Pró-feminismo masculino</li>
          </ul>
        </li>
        <li>Mulheres Históricas</li>
        <li class="companymenuli"><a class="alisting">Dicionário<b class="caret"></b></a>
          <ul class="submenu">
              <li>Termos</li>
              <li>Conceitos</li>
          </ul>
        </li>
        <li>Retórica</li>
        <li>Livros</li>
        <li>Notícias</li>
        <li class="companymenuli"><a class="alisting">Curiosidades<b class="caret"></b></a>
          <ul class="submenu">
              <li>Análise de Obras</li>
              <li>Por que?</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
