.title{
  background-color: blueviolet;
  width: fit-content;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  color: #FFF500;
  border-radius: 5px;
}

p{
  margin: 0;
  font-size: 20px;
}

section{
  margin: 20px 70px;
}

.carousel-list{
  display: flex;
  flex-direction: row;
}
