<div class="posts-container">

  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>

  <div class="test">
    <p class="alfa">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>

  <ng-container class="carousel">
    <div *ngFor="let post of posts; let i = index">
      <img
        *ngIf="i === currentSlide"
        [src]="post.src"
        class="slide"
      />
    </div>
  </ng-container>

  <!-- controls -->
  <button class="control next"(click)="onNextClick()">
    <span class="arrow right"></span>
  </button>

</div>
<div class="dots-below-posts">
  <div class="dot" *ngFor="let post of posts; let i = index">
    <img
    *ngIf="i !== currentSlide"
    src="https://img.icons8.com/material/12/444444/filled-circle.png"/>
    <img
    *ngIf="i === currentSlide"
    src="https://img.icons8.com/material/12/999999/filled-circle.png"/>
  </div>
</div>
