.little-img{
    height: auto; 
    width: auto;
    
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
}

.little-p{
    margin: 30px 20px;
    font-size: 1.5rem;
    color: var(--text-primary-color);
}

.big-p{
    margin: 20px 20px;
    font-size: 1.75rem;
    color: var(--text-primary-color);
}

.big-img{
    height: auto; 
    width: auto;
    max-height: 350px;
    min-height: 350px;
}

.grid-container{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid; 
    
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 10px;
    height: 100%;
    width: 100%;
}

.item-0{
    background-color: #7BECDD; 
    grid-row-start: 1;
    grid-column-start: 1;
    
    grid-row-end: 4;
    grid-column-end: 3;
    
    background-color: var(--bg-text-primary-color);
    overflow: hidden;
}
.item-1{
    display: flex;
    height: 150px;
    background-color: #5B9E5D; 
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 6;

   background-color: var(--bg-text-primary-color);
}
.item-2{
    display: flex;
    height: 150px;
    background-color: #AB8FED; 
   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 6;

   background-color: var(--bg-text-primary-color);
}
.item-3{
    display: flex;
    height: 150px;
    background-color: #9979C5; 
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 6;

   background-color: var(--bg-text-primary-color);
}