.grid-container{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   width: 100%;
}

.item-0{
    background-color: #7BECDD; 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 3;
}
.item-1{
    height: 150px;
    background-color: #5B9E5D; 
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 6;
}
.item-2{
    height: 150px;
    background-color: #AB8FED; 
   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 6;
}
.item-3{
    height: 150px;
    background-color: #9979C5; 
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 6;
}