<div class="grid-container">
    <div class="grid">
        <div class="item-0" >
            <img class="big-img" [src]="images[0]"/>
            <p class="big-p">{{titles[0]}}</p>
        </div>
        <div class="item-1" >
            <img class="little-img" [src]="images[1]"/>
            <p class="little-p">{{titles[1]}}</p>
        </div>
        <div class="item-2" >
            <img class="little-img" [src]="images[2]"/>
            <p class="little-p">{{titles[2]}}</p>
        </div>
        <div class="item-3" >
            <img class="little-img" [src]="images[3]"/>
            <p class="little-p">{{titles[3]}}</p>
        </div>
    </div>
</div>