<app-header></app-header>
<app-latest-posts></app-latest-posts>
<app-latest-posts-by-section section="Ondas Feministas"></app-latest-posts-by-section>
<app-latest-posts-by-section section="Vertentes e Epistemologias"></app-latest-posts-by-section>
<app-latest-posts-by-section section="Mulheres Históricas"></app-latest-posts-by-section>
<app-latest-posts-by-section section="Dicionário"></app-latest-posts-by-section>
<app-latest-posts-by-section section="Retórica"></app-latest-posts-by-section>
<app-latest-posts-by-section section="Análise de obras"></app-latest-posts-by-section>
<app-latest-posts-by-section section="Notícias"></app-latest-posts-by-section>
<app-latest-posts-by-section section="Curiosidades"></app-latest-posts-by-section>
